<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <ID>7</ID>
    <ObjectName>Русская Лозовая 1</ObjectName>
    <Server>http://stalker.megadevices.com.ua/add_log.php</Server>
    <APN>www.mts.ua</APN>
    <MasterToken>6B4F69ED</MasterToken>
    <PhoneBook>
        <Phone>+380663503613</Phone>
	<Phone>+380954720318</Phone>
    </PhoneBook>
    <SaveLogcatLogs>true</SaveLogcatLogs>
    <SendSMSAfterServicesFail>false</SendSMSAfterServicesFail>
    <UpdateTime>00:00</UpdateTime>
    <UpdateInterval>10</UpdateInterval>
    <LogUploadingInterval>10</LogUploadingInterval>
    <USSDTime>23:19</USSDTime>
    <USSDString>*101#</USSDString>
</Configuration>
